@import "fonts.scss";

$margin-left-right: 10vw;

.container{ 
    position:relative;
    margin-top: -13vh;
    display: grid;
    grid-template-columns: repeat(7,11vw); // de calculat spatiul intre randuri 
    grid-template-rows: repeat(7,10vh); 
    grid-gap: 0.5vw;
    align-content: center;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    
    div{
        color: white;
        font-family: "Mango";
        font-size: 26px;
        background: #eee ;
        padding: 1em;
        text-align: center;
        position: relative;
        border-width: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        //background-image: radial-gradient(circle at 57% 36%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 10%,transparent 10%, transparent 100%),radial-gradient(circle at 22% 61%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 68% 97%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 57% 89%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 39% 80%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 88% 71%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));    
        border: 0.1px solid rgba(255,255,255,.5);
        
        background-color: transparent;  
        
    }
    .Calendar_Day{
        border-width: 0;
        margin-top: 0.4em;
        font-size: 2em;
    }
    .event::before{
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        transform:translate(50%,-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba($color: #000000, $alpha: 1);
    }
    
    
}

.slider{
        padding-top: 10vh;
        display:flex;
        justify-content: space-between;
        margin-left: $margin-left-right;
        margin-right: $margin-left-right;
        align-items: center;
}
.slider{
    font-family: 'Times New Roman', Times, serif;
}
.Month{
    
        padding: 14px 32px;
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border: none;
        color: white;
        cursor:default;
        p{
            font-family:"Bilqo";
            font-size: 28px;
            font-weight: 100;
        }
        :hover{
            text-decoration:underline;
            
        }
        
}
.Prev, .Next{
            color: #DDD3CA;
            opacity: 0.8;
}
.Curent{
    display: flex;
    div{
        padding: 5px;
    }
    p{
        font-size: 32px;
        margin-top: 6px;
    }
}

.SvgBanner{
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    svg{
        fill:transparent;
        stroke:white;
        stroke-width:2;
        opacity:1;
    }
}

.BoxItem1{
    width: 100vw;
    height: 100vh;
    //background-image: url("../Resources/BackGrounds/BackGround.png");
}