@font-face {
  font-family: "Mango";
  src: url(../Resources/Fonts/Mango.ttf) format("truetype");
}
@font-face {
  font-family: "Bilqo";
  src: url(../Resources/Fonts/Billqo.otf) format("truetype");
}
.container {
  position: relative;
  margin-top: -13vh;
  display: grid;
  grid-template-columns: repeat(7, 11vw);
  grid-template-rows: repeat(7, 10vh);
  grid-gap: 0.5vw;
  align-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.container div {
  color: white;
  font-family: "Mango";
  font-size: 26px;
  background: #eee;
  padding: 1em;
  text-align: center;
  position: relative;
  border-width: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
.container .Calendar_Day {
  border-width: 0;
  margin-top: 0.4em;
  font-size: 2em;
}
.container .event::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
}

.slider {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
}

.slider {
  font-family: "Times New Roman", Times, serif;
}

.Month {
  padding: 14px 32px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  color: white;
  cursor: default;
}
.Month p {
  font-family: "Bilqo";
  font-size: 28px;
  font-weight: 100;
}
.Month :hover {
  text-decoration: underline;
}

.Prev, .Next {
  color: #DDD3CA;
  opacity: 0.8;
}

.Curent {
  display: flex;
}
.Curent div {
  padding: 5px;
}
.Curent p {
  font-size: 32px;
  margin-top: 6px;
}

.SvgBanner {
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
}
.SvgBanner svg {
  fill: transparent;
  stroke: white;
  stroke-width: 2;
  opacity: 1;
}

.BoxItem1 {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Mango";
  src: url(../Resources/Fonts/Mango.ttf) format("truetype");
}
@font-face {
  font-family: "Bilqo";
  src: url(../Resources/Fonts/Billqo.otf) format("truetype");
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 2vh 8vw 0vh 8vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
}
header.sticky {
  padding: 4vh 8vw;
  background-color: rgba(0, 0, 0, 0.1);
  height: 9vh;
}
header.sticky ul li a {
  color: #DDD3CA;
}
header.sticky .logo {
  color: #DDD3CA;
}
header .logo {
  font-family: "Bilqo";
  position: relative;
  font-weight: normal;
  color: #DDD3CA;
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  font-size: 26px;
  font-family: "Mango";
  font-weight: bold;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #DDD3CA;
  letter-spacing: 2px;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100vw;
  height: 0vh;
}

.BoxItem2 {
  background-image: url("../Resources/BackGrounds/Teatru-pagina principala.png");
  background-size: cover;
  display: flex;
}
.BoxItem2 #Svg1 {
  top: 0%;
}
.BoxItem2__btn {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  z-index: 100;
}
.BoxItem2__btn.btn--left {
  left: 2%;
}
.BoxItem2__btn.btn--right {
  right: 2%;
}
.BoxItem2__btn .icon {
  width: 100%;
  height: 100%;
}
.BoxItem2__btn .icon svg {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

@font-face {
  font-family: "Mango";
  src: url(../Resources/Fonts/Mango.ttf) format("truetype");
}
@font-face {
  font-family: "Bilqo";
  src: url(../Resources/Fonts/Billqo.otf) format("truetype");
}
.leftSlider {
  position: absolute;
  z-index: 10000;
  width: 27vw;
  height: 100vh;
  background-color: #462e25;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.leftSlider img {
  width: 100%;
}
.leftSlider .buttons {
  display: flex;
  justify-content: space-between;
}
.leftSlider p {
  margin-left: 4%;
  color: white;
}
.leftSlider p#name {
  margin: 0 4%;
  width: bold;
  font-size: 3em;
}
.leftSlider p#author {
  font-size: 1.5em;
}
.leftSlider p#noEvents {
  margin-top: -10%;
  margin-left: 10%;
  margin-bottom: -35%;
  width: 100%;
  color: black;
  font-size: 27vw;
  font-family: "Bilqo";
}
.leftSlider p#noEventsText {
  margin-left: 12%;
  color: #896B60;
  font-size: 2.5vw;
}
.leftSlider p#adress {
  font-size: 1.1em;
}
.leftSlider p#info {
  font-size: 1.1em;
  margin-right: 4%;
  text-align: justify;
  margin-bottom: 2%;
}
.leftSlider .rating {
  display: flex;
}
.leftSlider .rating p {
  color: white;
  font-family: "Bilqo";
  font-style: italic;
  margin: 1vw;
  font-size: 1.5em;
}
.leftSlider .rating p#markNumber {
  margin-left: 0vw;
  font-style: normal;
}
.leftSlider #exit img {
  margin-top: 2%;
  margin-left: 5%;
  width: 4vw;
  height: 4vw;
  margin-bottom: 3%;
}
.leftSlider .save {
  margin-right: 4%;
}
.leftSlider .save img {
  margin-top: 2%;
  margin-left: 5%;
  width: 4vw;
  height: 4vw;
}
.leftSlider .edit#exit {
  position: absolute;
}
.leftSlider .edit#exit img {
  position: absolute;
  margin-top: 2%;
  margin-left: 5%;
  width: 4vw;
  height: 4vw;
  bottom: 0;
}

.events {
  z-index: 1000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: burlywood;
  background-image: url("../Resources/BackGrounds/BackGround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.box {
  height: 100vh;
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-style: dashed;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
  overflow-x: hidden;
}

.box::-webkit-scrollbar {
  display: none;
}

.item {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.date {
  display: none;
}

/*# sourceMappingURL=style.css.map */
