@import "calendar";
@import "header";
@import "localSlider";
@import "fonts.scss";
@import "leftSlide";
*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    background: burlywood;
    //background-image: url("../Resources/image-from-rawpixel-id-5943020-original.jpg");
    background-image: url("../Resources/BackGrounds/BackGround.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden; //disable slidebar 
}
//Sliding feature
.box{
    height: 100vh; // banner height is 10 vh
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior:auto;
    overflow-x: hidden;
}
//Hidden scrollbar 
.box::-webkit-scrollbar {
    display: none;
}
.item{
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}
.date{
    display: none;
}